{% extends 'myapp/base.html' %}

{% block title %}
    Book Details
{% endblock %}

{% block body_block %}
    <h1> Details page </h1>
    {% if book and book.title %}
        <h2>Book Information</h2>
        <table>
        <tbody>
        <tr>
            <td>Book Name</td>
            <td>Book Price</td>
            <td>Publishers</td>
        </tr>
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.publisher.name }}</td>
        </tr>

    </tbody>
    </table>

    {% else %}
        <strong>There are no available books with this id!</strong>
    {% endif %}
{% endblock %}

