{% extends "myapp/base.html" %}

{% block title %}Login{% endblock %}

{% block myhdg %}Login{% endblock %}

{% block body_block %}
<form method="post" action="{% url 'myapp:user_login' %}">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">Login</button>
</form>
{% endblock %}